@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --Dark-Blue-Dark-Mode-Elements: hsl(209, 23%, 22%);
  --Very-Dark-Blue-Dark-Mode-Background: hsl(207, 26%, 17%);
  --Very-Dark-Blue-Light-Mode-Text: hsl(200, 15%, 8%);
  --Dark-Gray-Light-Mode-Input: hsl(0, 0%, 52%);
  --Very-Light-Gray-Light-Mode-Background: hsl(0, 0%, 98%);
  --Very-Light-Gray-Light-Body-Mode-Background:hsl(0, 0%, 92%);
  --White-Dark-Mode-Text-Light-Mode-Elements: hsl(0, 0%, 100%);
  --Main-font: "Nunito Sans", sans-serif;
  --Body-bg:var(--Very-Light-Gray-Light-Body-Mode-Background);
  --Element-bg:var(--Very-Light-Gray-Light-Mode-Background);
  --Element-text-clr:var(--Very-Dark-Blue-Dark-Mode-Background);
  --Element-text-clr-gray:var(--Dark-Gray-Light-Mode-Input);
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    color-scheme: light;
    background-color:var(--Body-bg);
}

.header {
    color:var(--Element-text-clr);
    padding:2rem 1rem;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:var(--Element-bg); 
    /* box-shadow:0px 1px 10px 0px rgba(85, 85, 85, 0.216); */
}

.header__app-title {
    font-size:1rem;
    font-family:var(--Main-font);
    font-weight:800;
}

.header__theme-switcher {
    display:flex;
    align-items:center;
    outline:2px solid transparent;
    outline-offset:0.5rem;
    border-radius:1px;
}

.header__theme-switcher:has(.theme-switcher__toggler:focus-visible){
    --outline-clr:var(--Very-Dark-Blue-Light-Mode-Text);
    outline:2px solid ;
}

.theme-switcher__label {
    font-size:0.875rem;
    font-weight:600;
    font-family:var(--Main-font);
    text-transform: capitalize;
    display:flex;
    align-items:center;
    gap:0.5rem; 
}

.theme-switcher__moon-icon {
    font-size:1rem; 
    align-self:flex-start;
}

.theme-switcher__toggler {
    height:1px;
    width:1px;
    border:none;
    overflow:hidden;
    opacity:0;
}

.main__header {
    padding:1.5rem;
    display:flex;
    flex-direction:column;
    gap:2rem;
}

.search-country {
    padding:0.8rem 2rem;
    min-width:15.625rem;
    display:flex;
    align-items:center;
    font-family:var(--Main-font);
    font-size:0.875rem;
    border-radius:2px;
    background-color:var(--Element-bg);
    /* box-shadow:0px 0px 10px 1px rgba(85, 85, 85, 0.216); */
    gap:1rem;
}

.search-country__label { 
    color:var(--Element-text-clr-gray);
}

.search-country__input {
    color:var(--Element-text-clr-gray);
    padding:0.4rem;
    flex-grow:1;
    border:none;
    background-color:transparent;
}

.search-country__input::placeholder { 
    color:var(--Element-text-clr-gray);
}

.filter-country-region {
    color:var(--Element-text-clr);
    font-size:0.875rem;
    font-weight:300; 
    font-family:var(--Main-font);
    padding:1rem 2rem 1rem 1rem;
    border-radius:2px;
    border:none;
    background-color:var(--Element-bg);
    border-right:1rem solid var(--Element-bg);  
}

/* .main__countries {

} */

.countries__list {
    padding:1rem 3rem;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:auto;
    list-style-type:none;
    gap:2rem;
}

.countries__info {
    width:100%;
    color:var(--Element-text-clr);
    display:flex;
    flex-direction:column;
    border-radius:10px;
    border-radius:10px;
    background-color:var(--Element-bg);
}

.countries__info__flag {
    /* padding-bottom:; */
    height:100%;
    width:100%; 
    object-fit:cover;
    border-radius:10px 10px 0px 0px;
}

.countries__info__name {
    color:var(--Element-text-clr);
    padding:1rem;
    font-family:var(--Main-font);
    font-size:1rem;
    font-weight:800;
    text-align:start;
    text-transform:capitalize;
    border:none;
    background-color: transparent;
}

.countries__info__stats { 
    padding:1rem;
    margin-bottom:2rem;
    font-size:0.875rem;
    font-family:var(--Main-font);
    font-weight:500;
    list-style-type:none;    
    text-transform:capitalize;
}

.stats__value__name {
    font-weight:700;
}

@media screen and (min-width:67.5rem) {
    .main__header {
        flex-direction:row;
        align-items:center;
        justify-content:space-between; 
    }

    .countries__list {
       grid-template-columns:repeat(4,1fr); 
    }    
}

/* @media (prefers-color-scheme:dark){
    body {
        --body-background:var(--Very-Dark-Blue-Dark-Mode-Background);
        color-scheme:dark;
    }    
    .header {
        --header-bg:var(--Dark-Blue-Dark-Mode-Elements);
        --title-txt-clr:var(--White-Dark-Mode-Text-Light-Mode-Elements);

        box-shadow:none;
    } 
    .search-country {
        --search-bar-bg:var(--Dark-Blue-Dark-Mode-Elements);

        box-shadow:none;        
    }
    .search-country__label {
        --label-clr:var(--White-Dark-Mode-Text-Light-Mode-Elements);
    }
    .search-country__input {
        --input-country-clr:var(--White-Dark-Mode-Text-Light-Mode-Elements);
    }
    .search-country__input::placeholder {
        --input-country-placeholder-clr:var(--White-Dark-Mode-Text-Light-Mode-Elements);
    }
    .country-filter-region__button {
        --filter-btn-bg:var(--Dark-Blue-Dark-Mode-Elements);
        --filter-btn-clr:var(--White-Dark-Mode-Text-Light-Mode-Elements);
    }
} */